*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
display: flex;
flex-direction: column;
width: 100vw;
height: 100vh;
background: linear-gradient(#e72529,#9d3335 50%,#af3032 60%,#DA3B3F);

}

.background-image{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    opacity: 0.5;
    z-index: -1;

}

header{
    height: 100px;
}

header nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    margin-left: 75px;
    font-family: sans-serif;
    cursor: pointer;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text{
    position: absolute;
    color: #FFF;
    font-size: 2.25rem;
    width: 212px;
    transform: translateX(-140%);
    text-align: end;
    margin-right: 24px;    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.content-image{
    height: 80vh;
    filter: drop-shadow(0px 200px 20px #0006);

}

footer{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 75px;

}

@media (max-width:768px) {
    header nav {
        margin-left: 25px;
        align-items: flex-end;
    }
    
main {
    align-itens: flex-end;
}

.content-text {
    transform: translateX(0);
    top: 80px;
    font-size: 1rem;
    width: 100px;
    text-align: center;
    margin: 0;
}
.content-image{
    height: 70vh;
}
footer {
    height: 60px;
    margin-right: 25px;
}

}
